[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["bcrypt"], version = "*"}
djangorestframework = "*"
django-rest-knox = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
